/* ==================================================================
                             COMPOSANT DE BASE
====================================================================*/

#page-csv{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    padding-top: 5rem;
  }
  
  
  /* -------------- Section  ------------------*/
  #page-csv .section {
      border: 1px solid #DCDBDB;
      border-radius: 5px;
      padding: 3rem;
      background: white;
      box-shadow: 0 30px 50px rgba(52, 70, 84, 0.2);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: max-content;
      max-width: 90vw;
  }
  
  #page-csv .section h2{
    margin-top: 0;
    text-align: center;
  }
  
  /* -------------- Boutons  ------------------*/
  .button-typical{
      display: flex;
      align-items: center;
      cursor: pointer;
      background: transparent;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 18px;
      outline: none;
      border: none;
      padding: 0;
      color: #5682A3 !important;
      transition: all .5s ease-in-out;
      text-shadow: 20px 19px 34px rgba(0, 0, 0, 0.1);
  }
  .button-typical > svg{
      height: 18px;
      width: auto;
      margin-right: 0.2rem;
  }
  .button-typical:hover{
      text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
      transform: scale(.99);
  }
  
  
  .button-green{
      background: #5BF088;
      color: #5682A3 !important;
      font-size: 18px;
      font-weight: 600;
      outline: none;
      border: none;
      text-transform: uppercase;
      padding: .9rem 2rem;
      border-radius: 50px;
      cursor: pointer;
      transition: all .5s ease-in-out;
      box-shadow: 20px 19px 34px -13px rgba(0, 0, 0, 0.2);
  }
  .button-green:hover{
      box-shadow: 2px 8px 4px -6px rgba(0, 0, 0, 0.3);
      transform: scale(0.97);
  }
  .button-green.secondary{
      background: #46A362;
      color: white;
  }
  
  
  /* --------------Zone scrollable  ------------------*/
  #page-csv .overflow-x{
      overflow-x: auto;
  }
  
  
  /* -------------- Element décoratif  ------------------*/

  @keyframes changeColorBlue {
    0% {
      background-color: #5682A3;
    }
    50% {
      background-color: #4EA399;
    }
    100% {
      background-color: #5682A3;
    }
  }
  @keyframes changeColorGreen {
    0% {
      background-color: #4EA399;
    }
    50% {
      background-color: #5682A3;
    }
    100% {
      background-color: #4EA399;
    }
  }

  .blue-circle{
    position: absolute;
    top: 5%;
    left: 0;
    height: 60vw;
    width: 80vw;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    background-color: #5682A3;
    transform: rotate(-15deg) translateX(-70vw);
    z-index: -1;
    animation: changeColorBlue 20s cubic-bezier(1, 0.84, 0.44, 1) infinite;
  }
  .green-circle{
    position: absolute;
    top: 12%;
    right: 0;
    height: 60vw;
    width: 80vw;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    background-color: #4EA399;
    transform: rotate(-15deg) translateX(70vw);
    z-index: -1;
    animation: changeColorGreen 20s cubic-bezier(1, 0.84, 0.44, 1) infinite;
  }



/*================================ INFO BULLE ============================= */
@media screen and (min-width: 1024px) { 
  [data-info]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
  }
  [data-info]:after {
    content: attr(data-info);
    background-color: white;
    color: #48525a;
    font-size: 0.7rem;
    font-weight: 100;
    text-shadow: none;
    width: 10rem;
    position: absolute;
    text-transform: initial;
    padding: 1px 5px 2px 5px;
    top: -.6rem;
    left: 50%;
    box-shadow: 0 5px 12px rgba(0, 5, 12, 0.2);
    opacity: 0;
    border: 1px dotted #5682A3;
    visibility: hidden;
    z-index: 15;
    transform: translateX(-50%) translateY(-100%);
  }
  [data-info] {
    position: relative;
  }
}



      /* ==================================================================
                            RESPONSIVE MOBILE
====================================================================*/

@media screen and (max-width: 500px) { 

    /* -------------- Composant de base  ------------------*/
    #page-csv .section{
      padding: 1.5rem;
    }

    /* -------------- Cercle déco  ------------------*/
    .blue-circle {
      height: 100vw;
      top: 15%;
    }
    .green-circle {
      height: 100vw;
    }

    /* -------------- Boutons  ------------------*/
    .button-typical{
        font-size: 16px;
    }
    .button-typical > svg{
        height: 16px;
    }
    
    .button-green{
        font-size: 16px;;
        padding: .5rem 1.5rem;
        border-radius: 40px;
    }
  }




/* ==================================================================
                            RESPONSIVE TABLETTE
====================================================================*/

  @media screen and (max-width: 940px) { 

    /* -------------- Composants de bases  ------------------*/
    .section {
        padding: 1.5rem;
        box-shadow: 0 20px 40px rgba(52, 70, 84, 0.2);
    }
  }