  /* ==================================================================
                             Presentation
====================================================================*/

.presentation {
    position: relative;
    flex-direction: column;
    padding-bottom: 11rem;
}
  
.presentation h1 {
  margin: 0;
  z-index: -1;
  white-space: nowrap;
}

@keyframes cloudMove {
  0% {
    transform: translateX(-55%) rotateZ(0deg);
    opacity: 1;
  }
  50% {
    opacity: .75;
  }
  100% {
    transform: translateX(-55%) rotateZ(360deg);
    opacity: 1;
  }
}
@keyframes cloudMove2 {
  0% {
    transform: translate(-64%, -4%) rotateZ(0deg);
  }
  100% {
    transform: translate(-64%, -4%) rotateZ(360deg);
  }
}
@keyframes cloudMoveSmall {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
@keyframes cloudMove3 {
  0% {
    transform: translate(-23%, 19%) rotateZ(0deg);
  }
  100% {
    transform: translate(-23%, 19%) rotateZ(-360deg);
  }
}


#cloud-section .big-cloud{
  position: absolute;
  top: min(max(25px, 6vw), 110px);
  left: 50%;
  z-index: -2;
  width: 70vw;
  max-width: 1200px;
  min-width: 300px;
  animation: cloudMove 240s cubic-bezier(1, 0.84, 0.44, 1) infinite;
}

#cloud-section .cloud{
  position: absolute;
  width: 16.7vw;
  height: 16.7vw;
  max-width: 256px;
  max-height: 256px;
  min-width: 75px;
  z-index: -1;
}

#cloud-section > .cloud:nth-child(2){
  left: 57%;
  top: 13%;
  animation: cloudMoveSmall 220s cubic-bezier(1, 0.84, 0.44, 1) infinite;
}
#cloud-section > .cloud:nth-child(3){
  left: 10%;
  top: 20%;
  animation: cloudMoveSmall 320s cubic-bezier(1, 0.84, 0.44, 1) infinite;
}
#cloud-section > .cloud:nth-child(4){
  left: 18%;
  top: 34%;
}
#cloud-section > .cloud:nth-child(5){
  left: 0;
  top: 48%;
  animation: cloudMoveSmall 360s cubic-bezier(1, 0.84, 0.44, 1) infinite;
}
#cloud-section > .cloud:nth-child(5){
  left: 83%;
  top: 48%;
}


.cloud-group-1 {
  position: absolute;
  left: 50%;
  transform: translate(-30%, 12%);
  z-index: -1;
}
.cloud-group-2 {
  position: absolute;
  left: 50%;
  transform: translate(-64%, -4%);
  z-index: -1;
  animation: cloudMove2 320s cubic-bezier(1, 0.84, 0.44, 1) infinite;
}
.cloud-group-3 {
  position: absolute;
  left: 10%;
  top: 40%;
  z-index: -1;
}
.cloud-group-1 .relative, .cloud-group-2 .relative, .cloud-group-3 .relative{
  position: relative;
}
.cloud-group-1 .cloud, .cloud-group-2 .cloud, .cloud-group-3 .cloud{
  position: absolute;
}
.cloud-group-1 .cloud:nth-child(1), .cloud-group-2 .cloud:nth-child(1), .cloud-group-3 .cloud:nth-child(1){
  transform: translate(10%, 18%);
}
.cloud-group-1 .cloud:nth-child(2), .cloud-group-2 .cloud:nth-child(2), .cloud-group-3 .cloud:nth-child(2){
  transform: translate(-8%, -12%);
}
.cloud-group-1 .cloud:nth-child(3), .cloud-group-2 .cloud:nth-child(3), .cloud-group-3 .cloud:nth-child(3){
  transform: translate(43%, 32%);
}
.cloud-group-1 .cloud:nth-child(4), .cloud-group-2 .cloud:nth-child(4), .cloud-group-3 .cloud:nth-child(4){
  transform: translate(-23%, 19%);
  animation: cloudMove3 360s cubic-bezier(1, 0.84, 0.44, 1) infinite;
}



.presentation p {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  margin-top: 10%;
  width: 60vw;
  max-width: 1000px;
}

.presentation button {
  margin-top: 4rem;
  font-size: 24px;
  padding: .7rem 3rem;
}


      /* ==================================================================
                            RESPONSIVE MOBILE
====================================================================*/

@media screen and (max-width: 500px) { 
  /* -------------- Présentation  ------------------*/
  .presentation p{
    font-size: 16px;
  }
  .presentation {
    padding-bottom: 6rem;
  }
}

