.select-input {
    position: relative;
    width: 21rem;
    max-width: calc(90vw - 3.5rem);
    height: 2.9rem;
    z-index: 5;
  }

  .select-input, .select-input *{
    margin: 0;
    padding: 0;
  }
  
  .chosen-value,
  .value-list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  .chosen-value {
    font-weight: 600;
    letter-spacing: 3px;
    height: 2.9rem;
    font-size: 1rem;
    padding: .5rem 1rem;
    background-color:white;
    border: 3px solid transparent;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    box-shadow: 0 0 2px 0px rgba(52, 70, 84, 0.2);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .chosen-value::-webkit-input-placeholder {
    color: #344654;
  }
  .chosen-value:hover {
    background-color: #e1e9ef;
    cursor: pointer;
  }
  .chosen-value:hover::-webkit-input-placeholder {
    color: #344654;
  }
  .chosen-value:focus, .chosen-value.open {
    box-shadow: 0 0 2px 1px rgba(52, 70, 84, 0.2);
    outline: 0;
    background-color: white;
    color: #000;
  }
  .chosen-value:focus::-webkit-input-placeholder, .chosen-value.open::-webkit-input-placeholder {
    color: #000;
  }
  
  .value-list {
    list-style: none;
    margin-top: 2.9rem;
    overflow: hidden;
    max-height: 0;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    box-shadow: 0 0 2px 0px rgba(52, 70, 84, 0.2);
  }
  .value-list.open {
    max-height: 250px;
    overflow: auto;
  }
  .value-list li {
    position: relative;
    height: 2.9rem;
    background-color:white;
    padding: .5rem 1rem;
    font-size: 1rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    cursor: pointer;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    opacity: 1;
  }
  .value-list li:hover {
    background-color: #e1e9ef;
  }
  .value-list li.closed {
    max-height: 0;
    overflow: hidden;
    padding: 0;
    opacity: 0;
  }


  @media screen and (min-width: 940px) { 

    /* -------------- Overflow  ------------------*/
    #page-csv .value-list{
        scrollbar-width: thin;
        scrollbar-color: #5682A3 #DCDBDB;
    }
    #page-csv .value-list::-webkit-scrollbar {
        width: 8px;
    }
    #page-csv .value-list::-webkit-scrollbar-track {
        background: #DCDBDB; 
    }    
    #page-csv .value-list::-webkit-scrollbar-thumb {
        background: #5682A3; 
    }
    #page-csv .value-list::-webkit-scrollbar-thumb:window-inactive {
        background: #5682A3; 
    }
  }
  