.flash{
    position: fixed;
    z-index: 60;
    bottom: 0;
    right: 1px;
    width: 17rem;
    min-height: 5rem;
    padding: 1rem 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px dashed #5682A3;
    box-shadow: 0 0 8px rgba(0, 5, 12, 0.2);
    border-radius: 8px;
    transform: translateY(100%);
    transition: all ease-in-out 0.4s;
}

.flash.visible{
    transform: translateY(0);  
}

.flash.classic{
    background-color: white;
}
.flash.success{
    background-color: #d5f6ec;
}
.flash.error{
    background-color: #fddad3;
}
.flash.warning{
    background-color: #fbf3e1;
}

.flash p{
    font-size: 0.9rem;
    font-weight: 500;
    color: #344654;
    margin: 0;
}

.flash img{
    margin-right: 0.4rem;
    width: 2.5rem;
    height: 2.5rem;
}
