/* Color */

/*
principal = #4EA399
secondaire = #5682A3
black = #344654
light = #5BF088
green = #46A362
red = #A35856
light-red = #F08D8B
borwn = #A37E46
yellow = #F0B45B
grey = #DCDBDB
*/



/* -------------- Reboot  ------------------*/

html, body{
    scroll-behavior: smooth;
    margin: 0;
  }
  
  @media screen and (min-width: 912px) { 
    body.overflow-hidden{
      padding-right: 16px;
      overflow: hidden;
    }
  }
  
  #page-csv *{
      box-sizing: border-box;
  }
  
  #page-csv body{
      margin: 0;
  }
  
  #page-csv dialog{
      padding: 0;
      border: none;
      background: transparent;
  }

  #page-csv dialog.hide{
    visibility: hidden;
}
  
  #page-csv .flex{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
  }


  fieldset {
    margin: 0;
    padding: 0;
    border: none;
}


      /* ==================================================================
                            RESPONSIVE MOBILE
====================================================================*/

@media screen and (max-width: 500px) { 
  #page-csv .tablette{
      display: none;
  }
}

@media screen and (min-width: 500px) { 
  #page-csv .smartphone{
      display: none;
  }
}


/* ==================================================================
                          RESPONSIVE TABLETTE
====================================================================*/

@media screen and (max-width: 940px) { 
  #page-csv .computer{
      display: none;
  }
}



/* ==================================================================
                          RESPONSIVE PC
====================================================================*/

@media screen and (min-width: 940px) { 
  #page-csv .tablette{
      display: none;
  }


  /* -------------- Overflow  ------------------*/
  #page-csv .overflow-x{
      scrollbar-width: thin;
      scrollbar-color: #5682A3 #DCDBDB;
  }
  #page-csv .overflow-x::-webkit-scrollbar {
      width: 8px;
  }
  #page-csv .overflow-x::-webkit-scrollbar-track {
      background: #DCDBDB; 
  }    
  #page-csv .overflow-x::-webkit-scrollbar-thumb {
      background: #5682A3; 
  }
  #page-csv .overflow-x::-webkit-scrollbar-thumb:window-inactive {
      background: #5682A3; 
  }
}