#swagger-ui .topbar
{
  display: none!important;
}
.table-container .col,
.responses-wrapper .col {
  width: auto;
}
#signin,
#signout {
  display : none;
}

#invoiceInfo {
  min-height: 800px;
}

.xsmall {
  font-size: 50%;
}

.bg-white-op-80 {
  background-color: #ffffffdb;
}

.bg-index-title {
  text-align: center;
  background-color: #484c50a8;
}

.bg-index {
  background-image: url("https://images.unsplash.com/photo-1542769494-0cc077eead4b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80");
  background-repeat: no-repeat;
  background-clip: border-box;
  background-size: cover;
}

/* REVIEW: modify this to be less */

.artboard {
  width: 100%;
  height: 100%;
  margin-top: 200px!important;
  margin-bottom: 200px!important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 50px;
}

.domino > div {
  border-radius: 8px;
  display: inline-flex;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 50px;
  height: 50px;
  -webkit-animation: domino-effect 2.4s infinite ease-in-out;
          animation: domino-effect 2.4s infinite ease-in-out;
}
.domino > div:nth-child(1) {
  background: #354558;
}
.domino > div:nth-child(1):after {
  background: #354558;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.domino > div:nth-child(2) {
  background: #625059;
}
.domino > div:nth-child(2):after {
  background: #625059;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}
.domino > div:nth-child(3) {
  background: #905b5c;
}
.domino > div:nth-child(3):after {
  background: #905b5c;
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}
.domino > div:nth-child(4) {
  background: #bd665e;
}
.domino > div:nth-child(4):after {
  background: #bd665e;
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s;
}
.domino > div:nth-child(5) {
  background: #eb7260;
}
.domino > div:nth-child(5):after {
  background: #eb7260;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
.domino > div:nth-child(1) {
  margin: 23px;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.domino > div:nth-child(2) {
  margin: 23px;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}
.domino > div:nth-child(3) {
  margin: 23px;
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}
.domino > div:nth-child(4) {
  margin: 23px;
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s;
}
.domino > div:nth-child(5) {
  margin: 23px;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
.domino > div:after {
  content: "";
  position: relative;
  top: 0px;
  left: -70px;
  opacity: 0;
  border-radius: 8px;
  width: 50px;
  height: 50px;
  -webkit-animation: illusion 2.4s infinite ease-in-out;
          animation: illusion 2.4s infinite ease-in-out;
}

@-webkit-keyframes beat {
  to {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
}

@keyframes beat {
  to {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(140deg);
            transform: rotate(140deg);
  }
}
@keyframes spin {
  to {
    -webkit-transform: rotate(140deg);
            transform: rotate(140deg);
  }
}
@-webkit-keyframes domino-effect {
  20%,100% {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
}
@keyframes domino-effect {
  20%,100% {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
}
@-webkit-keyframes illusion {
  0%, 25% {
    opacity: 1;
  }
  26.10%, 33.33%, 100% {
    opacity: 0;
  }
}
@keyframes illusion {
  0%, 25% {
    opacity: 1;
  }
  26.10%, 33.33%, 100% {
    opacity: 0;
  }
}
