/* ==================================================================
                             TYPOGRAPHIE
====================================================================*/

@font-face {
    font-family: 'Segoe';
    src: url('./font/Segoe/Segoe-UI.otf'); /* IE9+ Compat Modes */
    src: url('./font/Segoe/Segoe-UI.woff2') format('woff2'), /* Super modern browsers */
            url('./font/Segoe/Segoe-UI.woff') format('woff'), /* Modern browsers */
            url('./font/Segoe/Segoe-UI.ttf')  format('truetype'), /* Safari, Android, iOS */
            url('./font/Segoe/Segoe-UI.svg#Didot-Medium') format('svg'); /* Legacy iOS */
    font-display: swap;
}

@font-face {
    font-family: 'Segoe';
    src: url('./font/Segoe/Segoe-UI-Bold.otf'); /* IE9+ Compat Modes */
    src: url('./font/Segoe/Segoe-UI-Bold.woff2') format('woff2'), /* Super modern browsers */
        url('./font/Segoe/Segoe-UI-Bold.woff') format('woff'), /* Modern browsers */
        url('./font/Segoe/Segoe-UI-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('./font/Segoe/Segoe-UI-Bold.svg#Didot-Medium') format('svg'); /* Legacy iOS */
    font-display: swap;
    font-weight: bold;
}

@font-face {
    font-family: 'Segoe';
    src: url('./font/Segoe/Segoe-UI-Semibold.otf'); /* IE9+ Compat Modes */
    src: url('./font/Segoe/Segoe-UI-Semibold.woff2') format('woff2'), /* Super modern browsers */
            url('./font/Segoe/Segoe-UI-Semibold.woff') format('woff'), /* Modern browsers */
            url('./font/Segoe/Segoe-UI-Semibold.ttf')  format('truetype'), /* Safari, Android, iOS */
            url('./font/Segoe/Segoe-UI-Semibold.svg#Didot-Medium') format('svg'); /* Legacy iOS */
    font-display: swap;
    font-weight: 600;
}

@font-face {
    font-family: 'Segoe';
    src: url('./font/Segoe/Segoe-UI-Italic.otf'); /* IE9+ Compat Modes */
    src: url('./font/Segoe/Segoe-UI-Italic.woff2') format('woff2'), /* Super modern browsers */
        url('./font/Segoe/Segoe-UI-Italic.woff') format('woff'), /* Modern browsers */
        url('./font/Segoe/Segoe-UI-Italic.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('./font/Segoe/Segoe-UI-Italic.svg#Didot-Medium') format('svg'); /* Legacy iOS */
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: 'Segoe';
    src: url('./font/Segoe/Segoe-UI-Light.otf'); /* IE9+ Compat Modes */
    src: url('./font/Segoe/Segoe-UI-Light.woff2') format('woff2'), /* Super modern browsers */
            url('./font/Segoe/Segoe-UI-Light.woff') format('woff'), /* Modern browsers */
            url('./font/Segoe/Segoe-UI-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
            url('./font/Segoe/Segoe-UI-Light.svg#Didot-Medium') format('svg'); /* Legacy iOS */
    font-display: swap;
    font-weight: lighter;
}

#page-csv h1, #page-csv h2, #page-csv h3, #page-csv h4, #page-csv h5, #page-csv h6, 
#page-csv p, #page-csv span, #page-csv a, #page-csv thead, #page-csv label, #page-csv input, 
#page-csv select, #page-csv option, #page-csv table {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
} 

#page-csv h1{
    font-size: min(max(40px, 10vw), 180px);
    text-transform: uppercase;
    font-weight: bold;
    color: #5682A3;
}

#page-csv h2{
    font-size: 36px;
    font-weight: bold;
    color: #4EA399;
}

#page-csv h3{
    font-size: 26px;
    color: #5682A3;
    font-weight: bold;
}

#page-csv h3 > .secondary{
    font-size: 16px;
}

.title-call-to-action{
    font-size: 28px;
    color: #5682A3;
    font-weight: bold;
}

#page-csv .bold {
    font-weight: 600;
}

#page-csv a, #page-csv p, #page-csv span, #page-csv label, #page-csv input, 
#page-csv select, #page-csv option, #page-csv table {
    color: #344654;
}

#page-csv a{
    text-decoration: none;
}

#page-csv .important{
    text-transform: uppercase;
    font-weight: 800;
}


.surlignement:after {
  content: "";
  display: block;
  height: 1px;
  background: currentColor;
  will-change: transform;
  transition: -webkit-transform 0.5s cubic-bezier(0.3, 0, 0, 1);
  transition: transform 0.5s cubic-bezier(0.3, 0, 0, 1);
  transition: transform 0.5s cubic-bezier(0.3, 0, 0, 1), -webkit-transform 0.5s cubic-bezier(0.3, 0, 0, 1);
  -webkit-transform-origin: right center;
  transform-origin: right center;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}

.surlignement:hover:after {
  -webkit-transform: none;
  transform: none;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}


    /* ==================================================================
                            RESPONSIVE MOBILE
====================================================================*/

@media screen and (max-width: 500px) { 
    #page-csv .tablette{
        display: none;
    }

    /* -------------- Typographie  ------------------*/
    #page-csv h2{
        font-size: 22px;
    }
    #page-csv h3{
        font-size: 18px;
    }
    #page-csv h3 > .secondary{
        font-size: 16px;
    }
    .title-call-to-action{
        font-size: 20px;
    }
  }




/* ==================================================================
                            RESPONSIVE TABLETTE
====================================================================*/

  @media screen and (max-width: 940px) { 
    #page-csv .computer{
        display: none;
    }

    /* -------------- Typographie  ------------------*/
    #page-csv h2{
        font-size: 26px;
    }
    #page-csv h3{
        font-size: 22px;
    }
    #page-csv h3 > .secondary{
        font-size: 18px;
    }
    .title-call-to-action{
        font-size: 24px;
    }
  }
